.ectbe-related-box {
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 2px;
}
.ectbe-related-area.ectbe-row {
  display: flex;
}

.ectbe-related-box .tribe-events-event-image {
  height: 280px;
  margin-bottom: 0;
}

.ectbe-related-box .tribe-events-event-image img {
  margin-bottom: 0;
  transition: transform 1s, -webkit-transform 1s;
  object-fit: cover;
  height: 100%;
}

.ectbe-related-box:hover .tribe-events-event-image img {
  transform: scale3d(1.1, 1.1, 1);
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.ectbe-related-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 8px;
  line-height: normal;
}

.ectbe-related-title.no-image {
  position: relative;
}

.no-image .ectbe-light-bg {
  opacity: 1 !important;
}

.ectbe-related-date {
  z-index: 6;
  position: relative;
  color: #fff;
  opacity: 0.85;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  line-height: normal;
}

.ectbe-related-title h4,
.ectbe-related-title h4 a {
  z-index: 6;
  position: relative;
  color: #fff;
  opacity: 1;
  font-size: 20px;
  padding: 0;
  margin: 0 0 5px 0;
}
.ectbe-light-bg {
  background: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 5;
  opacity: 0.88;
}
