
  
  .single-tribe_events #tribe-events-header {
    display: inline !important;
}
.single-tribe_events .ticketbox-related-events li {
    list-style: none;
    display: table;
    width: 100%;
    vertical-align: top;
    margin-top: 20px;
    padding-top: 20px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-schedule_detail {
    display: table-cell;
    vertical-align: top;
    width: 82px;
    padding-right: 15px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-schedule_detail .event-date {
    display: block;
    background: #25a7ca;
    color: #ffffff;
    text-align: center;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-schedule_detail .event-date .date {
    display: block;
    font-size: 1.429em;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-schedule_detail .event-date .month {
    display: block;
    height: 24px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 11px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info {
    display: table-cell;
    vertical-align: top;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info .ticketbox-related-events-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info .event_venue {
    color: #99999;
    font-size: 0.857em;
    margin-right: 30px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info .event_venue i {
    margin-right: 5px;
  }
  .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info .related-event-cost {
    font-size: 1.357em;
  }
  @media (min-width: 480px) {
    .single-tribe_events .ticketbox-related-events li .ticketbox-related-event-info .related-event-cost {
      float: right;
    }
  }
  /**
  * COUNTDOWN CSS
  */
  .countdown-wrap {
    color: #c9c9c9;
    text-align: center;
    margin-bottom: 30px;
    
    /* background: #fff; */
    box-shadow: 0 2px 0 0 rgba(0,0,0,.016);
}

.ectbe-countdown-timer {
  display: flex;
  text-align: center;
  /* background-color: #0d4a59; */
    border-radius: 20px;
}


.ectbe-countdown-number {
  
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  background-color: #40d9f1;
  /* margin-left: 30px; */
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0px 3px 14px -4px #40d9f1;
}

span.ectbe-countdown-under {
  /* position: absolute; */
  bottom: -1.5em;
  right: -71px;
  color: #101010;
  font-weight: 400;
  text-shadow: none;
  text-transform: uppercase;
  /* margin-top: 20px; */
  font-size: 15px;
}

/**
* cal links
*/
/* .tribe-events-cal-links {
 
  padding-bottom: 20px;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.016);
  width: 50%;
  margin: auto;
} */

/* a.tribe-events-gcal.tribe-events-button { */
  /* background-color: black; */
  /* margin-left: 26%; */
  /* padding: 45px; */
/* } */
button.tec_allevents {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
button.tec_allevents:hover {
  background-color: #555555;
  color: white;
}
/**
* previous, next button
*/
li.tribe-events-nav-previous a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: black;
  background-color: #f1f1f1;
  margin-left: 8px;
}
li.tribe-events-nav-previous a:hover{
background-color: #ddd;
color: black;
}
li.tribe-events-nav-next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  background-color: #4CAF50;
}
li.tribe-events-nav-next a:hover{
background-color: #ddd;
color: black;
}
/* ul.tribe-events-sub-nav {
  width: 100%;
  margin: 
} */

li.tribe-events-nav-next {
  padding: 10px 10px 10px;
}
li.tribe-events-nav-previous {
  padding: 10px 10px 10px;
}
ul.tribe-events-sub-nav {
  border: 1px solid #dddd;
}
/**
*
*/
.tecet-featured-img.test1 img {
    width: 100%;
}
h2.tribe-events-single-section-title {
  padding-left: 0;
  margin: auto;
  display: inline-block;
}
.ectbe-test1-organizer .tect-organizer {
  background: #f7f7f7;
  padding: 12px 14px 8px;
  margin-bottom: 12px;
  vertical-align: baseline;
  position: relative;
}
.ectbe-test1-organizer .tect-organizer dd.tribe-organizer {
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 5px;
  display: inline;
  color: #222;
  padding-left: 0;
  
  float: left;
  width: 100%;
}
.ectbe-test1-organizer .tect-organizer dt.tribe-organizer-tel-label {
  width: 10%;
  float: left;
  margin-right: 20px;
}
.ectbe-test1-organizer .tect-organizer dt.tribe-organizer-email-label {
  width: 10%;
  float: left;
  margin-right: 5px;
}
.ectbe-test1-organizer .tribe-organizer {
  width: 30%;
  float: left;

}
.ectbe-test1-organizer .tect-organizer dd.tribe-organizer-email {
  margin-left: 47px;
}
.ectbe-test1-schedule {
     /* margin: auto; */
     width: 42%;
     margin-left: 10%;
     background-color: #f7f7f7;
     /* margin: 20px 0 0; */
     padding: 15px;
     /* padding-bottom: 40px; */
     display: table;
     float: left;
     padding: 2px 5px 10px 5px;
     padding-bottom: 52px;
     /* width: 100%; */
 }
 .ectbe-test1-cost span.tribe-events-cost {
     /* height: 19%; */
    /* margin-top: -4%; */
    /* padding: 46px 5px 10px 5px; */
    /* height: 21%; */
    /* margin-bottom: 13%; */
    /* background-color: black; */
    /* margin-top: 10px; */
    /* padding: 47px 18px 6px; */
    background-color: #f7f7f7;
    font-size: 25px;
    padding: 47px;
    text-align: center;
}
.ectbe-test1-cost 
{
      /* background-color: #f7f7f7; */
    /* background-color: #f7f7f7; */
    /* width: -3%;
    float: left;
    width: 10%; */
    /* margin: 20px; */
    padding: -43px;
    height: 19%;
    margin-top: -4%;
    padding: 4px 5px 106px 14px;
    /* height: 21%; */
    /* margin-bottom: 13%; */
    /* background-color: black; */
    /* margin-top: 10px; */
    /* padding: 47px 18px 6px; */
    background-color: #f7f7f7;
    font-size: 25px;
    /* padding: 47px; */
    text-align: center;
}